# MySQL properties
mysql.driver=com.mysql.cj.jdbc.Driver
mysql.url=jdbc:mysql://localhost:[PORT]/[DB]?useLegacyDatetimeCode=false&serverTimezone=UTC&useSSL=false
mysql.user=
mysql.password=

# Hibernate properties
hibernate.show_sql=true
hibernate.format_sql=true
hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
current_session_context_class=thread