<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{views/layout/base-layout}">

<div layout:fragment="body">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Field List</h1>
                    <a class="btn btn-info" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/fields/create}"
                       type="button">
                        Create New
                    </a>
                </div>
                <div class="col-sm-6" >
                    <form class="form-inline ml-3 float-right " th:action="@{/fields}" method="get">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar"
                                   type="search" placeholder="Search" aria-label="Search"
                                   name="search" id="search"
                            >
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table data-model="fields"
                                   class="table table-bordered js--dataTable">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Price($/h)</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="field,iter : ${data}">
                                    <tr th:style="${iter.odd}? 'background-color: #efeded;'">
                                        <th scope="row" th:text="${iter.count}"></th>
                                        <td th:text="${field.name}"></td>
                                        <td th:text="${field.address}"></td>
                                        <td th:text="${field.price}"></td>
                                        <td>
                                            <a th:href="@{'/field-types/' + ${field.fieldType.id}}"
                                               th:text="${field.fieldType.name}"
                                            >
                                                San co
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-primary" sec:authorize="hasRole('ROLE_USER')"
                                               th:href="@{'/fields/' + ${field.id} + '/booking-requests/new'}">Book</a>
                                            <a class="btn btn-outline-secondary"
                                               th:href="@{'/fields/' + ${field.id}}">Details</a>
                                            <a class="btn btn-outline-dark" sec:authorize="hasRole('ROLE_ADMIN')"
                                               th:href="@{'/fields/' + ${field.id} + '/edit'}">Edit</a>
                                            <a class="btn btn-outline-danger" sec:authorize="hasRole('ROLE_ADMIN')"
                                               th:href="@{'/fields/' + ${field.id} + '/delete'}">Delete</a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div th:if="${data != null}" class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"
                                        th:attrappend="class=${data.isFirst()} ? disabled"
                                    >
                                        <a class="page-link" href="#"
                                           th:if="${(param.search == null)}"
                                           th:href="${data.hasPrevious()} ? @{/fields(page=${data.number})} : 'javascript: void(0);'"
                                        >
                                            &laquo;
                                        </a>
                                        <a class="page-link" href="#"
                                           th:if="${(param.search != null)}"
                                           th:href="${data.hasPrevious()} ? @{/fields(search=${param.search[0]}, page=${data.number})} : 'javascript: void(0);'"
                                        >
                                            &laquo;
                                        </a>
                                    </li>
                                    <li th:each="i: ${#numbers.sequence(1, data.totalPages)}">
                                        <a class="page-link" href="#"
                                           th:if="${(param.search == null)}"
                                           th:href="@{/fields(page=${i})}" th:text=${i}
                                        >
                                            1
                                        </a>
                                        <a class="page-link" href="#"
                                           th:if="${(param.search != null)}"
                                           th:href="@{/fields(search=${param.search[0]}, page=${i})}"
                                           th:text=${i}
                                        >
                                            1
                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:attrappend="class=${data.isLast()} ? disabled"
                                    >
                                        <a class="page-link" href="#"
                                           th:if="${(param.search == null)}"
                                           th:href="${data.hasNext()} ? @{/fields(page=${data.number+2})} : 'javascript: void(0);'"
                                        >
                                            &raquo;
                                        </a>
                                        <a class="page-link" href="#"
                                           th:if="${(param.search != null)}"
                                           th:href="${data.hasNext()} ? @{/fields(search=${param.search[0]}, page=${data.number+2})} : 'javascript: void(0);'"
                                        >
                                            &raquo;
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>

<script>
    const status = "[[${status}]]";
    const message = "[[${message}]]";

    if (status && message)
        showToast(status, message);
</script>
