<!DOCTYPE html>
<html xmlns:layout="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/AdminLTE/dist/css/adminlte.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/AdminLTE/plugins/fontawesome-free/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/field-types/toast.styles.css}" />
</head>

<body class="layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <header class="main-header" th:include="views/layout/header :: header">
    </header>

    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:include="views/layout/aside :: aside">
    </aside>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header" layout:fragment="header"></section>

        <!-- Main content -->
        <section class="content" layout:fragment="body"></section>
        <!-- /.content -->
    </div>
</div>
</body>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script th:src="@{/assets/AdminLTE/dist/js/adminlte.min.js}"></script>
<script th:src="@{/assets/AdminLTE/plugins/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/utils/toast.utils.js}"></script>
</html>
