<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{views/layout/base-layout}">

<div layout:fragment="body">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark" th:text="${title}">Field Type List</h1>
                    <a class="btn btn-info" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/field-types/create}"
                       type="button">
                        Create New
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table data-model="field-types"
                                   class="table table-bordered js--dataTable">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="fieldType,iter : ${data}">
                                    <tr th:style="${iter.odd}? 'background-color: #efeded;'">
                                        <th scope="row" th:text="${fieldType.id}"></th>
                                        <td th:text="${fieldType.name}"></td>
                                        <td th:text="${fieldType.description}"></td>
                                        <td>
                                            <a class="btn btn-outline-primary"
                                               th:href="@{'/field-types/' + ${fieldType.id}}">Details</a>
                                            <a class="btn btn-outline-dark" sec:authorize="hasRole('ROLE_ADMIN')"
                                               th:href="@{'/field-types/' + ${fieldType.id} + '/edit'}">Edit</a>
                                            <a class="btn btn-outline-danger" sec:authorize="hasRole('ROLE_ADMIN')"
                                               th:href="@{'/field-types/' + ${fieldType.id} + '/delete'}">Delete</a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>

<script>
    const status = "[[${status}]]";
    const message = "[[${message}]]";

    if (status && message)
        showToast(status, message);
</script>
